.root{
    -fx-font-family: "Courier New";
    -fx-base: grey;
    -fx-background: slategrey;
}

.menu-bar{
    -fx-background-color: grey;
    -fx-border-color:  grey;
    -fx-border-width: 1

}

.menu-bar .label {
    -fx-font-size: 15 pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;

}


.menu:hover {
    -fx-background-color: slategrey;
}

.menu-item .label{
    -fx-font-size: 15 pt;
    -fx-label-line-length: 8;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-legend {
    -fx-background-color:  transparent;
}