.escapeMenu {
    -fx-background-color: #00d8ff;
    -fx-border-color: black;
    -fx-border-width: 3px;
}

.quitImage {
    -fx-graphic: url('/images/escape_menu/quit_button_image.png');
}

.quitImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/escape_menu/quit_button_image_alt.png');
}