@font-face {
    src: url("/font/Munro.ttf");
}

.raceImage {
    -fx-graphic: url('/images/game_selection/RaceWhite.png');
}

.raceImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/game_selection/RaceOrange.png');
}

.arcadeImage {
    -fx-graphic: url('/images/game_selection/Arcade_Race_White.png');
}

.arcadeImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/game_selection/Arcade_race_Orange.png');
}

.challengeImage {
    -fx-graphic: url('/images/game_selection/SpyroWhite.png');
}

.challengeImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/game_selection/SpyroOrange.png');
}

.bumperBoatsImage {
    -fx-graphic: url('/images/game_selection/bumperBoatsWhite.png');
}

.bumperBoatsImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/game_selection/bumperBoatsOrange.png');
}

.spectatorImage {
    -fx-graphic: url('/images/game_selection/spectator_button.png');
}

.spectatorImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/game_selection/spectator_button_alt.png');
}

.backButtonImage {
    -fx-graphic: url('/images/back_button.gif');
}

.backButtonImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/back_button_alt.gif');
}

.createImage {
    -fx-graphic: url('/images/game_selection/create_game_white.png');
}

.createImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/game_selection/create_game_orange.png');
}

.joinImage {
    -fx-graphic: url('/images/game_selection/join_game_white.png');
}

.joinImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/game_selection/join_game_orange.png');
}

.playImage {
    -fx-graphic: url('/images/play_button.png');
}

.playImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/play_button_alt.png');
}

.addressInput {
    -fx-font-family: "Munro";
    -fx-font-size: 16;
}

.errorText {
    -fx-font-family: "Munro";
    -fx-font-size: 16;
    -fx-text-fill: red;
}
