.raceImage {
    -fx-graphic: url('/images/RaceWhite.png');
}

.arcadeImage {
    -fx-graphic: url('/images/Arcade_Race_White.png');
}

.spyroImage {
    -fx-graphic: url('/images/SpyroWhite.png');
}

.bumperBoatsImage {
    -fx-graphic: url('/images/bumperBoatsWhite.png');
}

.raceImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/RaceOrange.png');
}

.backButtonImage {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/back_button.gif');
}

.arcadeImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/Arcade_race_Orange.png');
}

.spyroImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/SpyroOrange.png');
}

.bumperBoatsImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/bumperBoatsOrange.png');
}

.backButtonImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/back_button_alt.gif');
}

