.playImage {
    -fx-graphic: url('/images/play_button.png');
}

.playImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/play_button_alt.png');
}


.tutorialImage {
    -fx-graphic: url('/images/playInterface/tutorial_button.gif');
}

.tutorialImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/playInterface/tutorial_button_alt.gif');
}





.borderImage {
    -fx-graphic: url('/images/playInterface/border.png');
}