.hostImage {
    -fx-graphic: url('/images/playInterface/host_button.gif');
}

.hostImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/playInterface/host_button_alt.gif');
}


.tutorialImage {
    -fx-graphic: url('/images/playInterface/tutorial_button.gif');
}

.tutorialImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/playInterface/tutorial_button_alt.gif');
}