.hostImage {
    -fx-graphic: url('/images/playInterface/host_button.gif');
}

.hostImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/playInterface/host_button_alt.gif');
}


.tutorialImage {
    -fx-graphic: url('/images/playInterface/tutorial_button.gif');
}

.tutorialImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/playInterface/tutorial_button_alt.gif');
}


.rightImage {
    -fx-graphic: url('/images/playInterface/right_arrow.png');
}

.rightImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/playInterface/right_arrow_alt.png');
}


.leftImage {
    -fx-graphic: url('/images/playInterface/left_arrow.png');
}

.leftImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/playInterface/left_arrow_alt.png');
}


.borderImage {
    -fx-graphic: url('/images/playInterface/border.png');
}


.spectatorImage {
    -fx-graphic: url('/images/playInterface/spectator_button.png');
}


.spectatorImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/playInterface/spectator_button_alt.png');
}