@font-face {
    src: url("/font/Munro.ttf");
}

.label {
    -fx-font-size: 20pt;
    -fx-font-family: "Munro";
}

.fpsLabel {
    -fx-font-size: 15pt;
}

.windLabel {
    -fx-font-size: 15pt;
}

.timeBox {
    -fx-background-color: white;
    -fx-padding: 5px;
    -fx-border-color: black;
    -fx-border-width: 3px 3px 3px 3px;
}

.table-view .table-cell {
    -fx-font-size: 15pt;
    -fx-font-family: "Munro";
    -fx-alignment: center;
}

.table-view .column-header {
     -fx-background-color: #00d8ff;
}

.table-row-cell{
    -fx-background-color: deepskyblue;
    -fx-border-color: #00d8ff;
}

.table-row-cell:odd{
    -fx-background-color: deepskyblue;
    -fx-border-color: #00d8ff;
}