.background {
    -fx-background-color: #327D91;
    -fx-text-fill: black;
}

.background2 {
    -fx-background-color: black;
    -fx-background-image:url("/images/title_screen/GameLogo2.gif");
    -fx-background-size: 90% 100%;
    -fx-background-position: center;
}

.button {
    -fx-background-color: linear-gradient(#FE5A00, #FE5A00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.hostImage {
    -fx-graphic: url('/images/play_button.png');
}

.hostImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/play_button_alt.png');
}

.helpImage {
    -fx-graphic: url('/images/title_screen/help_menu/help_button.png');
}


.helpImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/title_screen/help_menu/help_button_alt.png');
}

.tutorialImage {
    -fx-graphic: url('/images/title_screen/tutorial_button.gif');
}

.tutorialImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/title_screen/tutorial_button_alt.gif');
}

.quitImage {
    -fx-graphic: url('/images/title_screen/quit_button.png');
}

.quitImage:hover {
    -fx-label-padding: 2;
    -fx-graphic: url('/images/title_screen/quit_button_alt.png');
}

.errorText {
    -fx-font-family: "Munro";
    -fx-font-size: 20;
    -fx-text-fill: darkred;
}


.musicView {
    -fx-graphic: url('/images/title_screen/music_on.png');
    -fx-background-color: transparent;
}

.musicView:selected {
    -fx-graphic: url('/images/title_screen/music_off.png');
    -fx-background-color: transparent;
}


.soundView {
    -fx-graphic: url('/images/title_screen/sound_effects_on.png');
    -fx-background-color: transparent;
}

.soundView:selected {
    -fx-graphic: url('/images/title_screen/sound_effects_off.png');
    -fx-background-color: transparent;
}



